.yargh{
display: flex;
flex-direction: column;;
/*justify-content: center;*/
/*align-items: center;*/
width: 90%;
}
/*.pic{
  height: 250px;
  width: 250px;
  margin: 50px;
}*/

.brandStatement{
  width: 500px;
padding: 50px;
  text-align: center;
margin: 100px;
  border: solid;
}
