*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: auto;
  margin: 0;
}

header{
  height: 10%;
}

main{
  height: auto;
  padding-top: 15%;
  /*background-color: red;*/
}

section{
  padding: 100px 0;
}

/*#about{
  background-color: purple;
}
#portfolio{
  background-color: yellow;
}*/

footer{
  height: 25%;
}

header, footer{
  background-color: aquamarine;
}
.navbar{
  margin-top: 15px;
}
.navbar a{
  padding: 35px 15px 25px 15px;
}
.navbar-brand{
  margin: 0 100px;
}
.navbar-brand a{
  padding: 40px;

}
nav a, h1, h2{
  color: white;
}

nav a:hover{
  text-decoration: none;
  background-color: white;
  color: aquamarine;
}



footer div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2{
  margin: 0px 10px 10px 75px;
  padding-top: 10px;
}

.construction{
margin: 20px 0;
background-color: white;
color: aquamarine;
text-align: center;
border: solid thin white;
border-radius: 15px;
}
