.port{
  display: flex;
  flex-direction: column;
  width: 90%;
  /*align-items: center;*/
}
.port img{
  margin: 10px;
  border:  aquamarine solid;
  border-radius: 30px;
}
.mur{
  position: relative;
}
.row p{
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}
h3{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all .2s ease-in;
  width: 350px;
  height: 300px;
  padding-top: 150px;
  margin: 10px;
  border:  aquamarine solid;
  border-radius: 30px;
  text-align: center;

  background-color: aquamarine;
}
.port a:hover  h3{
  opacity: .7;
}
