@page{
  size: auto;
  margin: 0;
}

html, body, main{
  height: 100%;
}

main{
  margin: 0 auto;
  width: 700px;
  font-family: helvetica, sans-serif;
}
.emphasize{
  font-variant: small-caps;
  font-size: 50px;
  margin: 10px;
}

.center{
  text-align: center;
}

.shift{
  margin-left: 20px;
}

td{
  width: 50px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  /*border: solid thin black;*/
}

h3{
  margin: 10px 0 5px 0;
  border-top: solid thin black;
  padding-top: 10px;
}
h4{
  margin: 10px 0;
  font-variant: small-caps;
}
h5{
  margin: 0;
}
h2, ul, p{
  margin: 10px;
}
li{
  line-height: 20px;
}
