body, .page-footer {
  background-color: #e6e6fa;
}

header, nav, .page-footer .footer-copyright {
  background-color: #008F8C;
}

#portfolio div.row .col {
  background-color: #a9f6f2;
}

p .material-icons {
  font-size: 13px;
}
