body {
  background-color: #F0EFF4;
  color: #3D2645;
}

header, nav, .page-footer {
  background-color: #3D2645;
  color: #F0EFF4;
}

#about .col.s12.m12.l12 {
  padding: 0 15%;
  text-align: center;
}

#about img {
  border: #F0EFF4 solid 2px;
  border-radius: 50%;
  height: 300px;
}

#about div.row:nth-last-of-type(1) {
  background-color: #832161;
  color: #F0EFF4;
  padding: 2% 0 3%;
}

#about .col.s12.m12.l12 p a{
  color: #F0EFF4;
  border: thin solid #F0EFF4;
  border-radius: 10px;
  padding: 5px 15px;
}

#about .col.s12.m12.l12 p a:hover{
  background-color: #F0EFF4;
  color: #832161;
}

#portfolio div.row {
  justify-content: center;
  display: flex;
}

#portfolio .col.s3.m3.l3 {
  border-radius: 10px;
  height: 300px;
  margin: 0 10px;
  padding: 0;
}

.description {
  background-color: #832161;
  border: #832161 solid 3px;
  border-radius: 10px;
  color: #F0EFF4;
  display: none;
  height: 297px;
  text-align: center;
}

.description a {
  color: #72C5ED;
  text-decoration: none;
}

#portfolio div.row:nth-of-type(1) .col:nth-of-type(1) {
  background-image: url('http://i.imgur.com/pBLezyS.png');
  background-size: cover;
}

#portfolio div.row:nth-of-type(1) .col:nth-of-type(2) {
  background-image: url('https://i.imgur.com/CmBqDGS.png');
  background-size: cover;
}

#portfolio div.row:nth-of-type(1) .col:nth-of-type(3) {
  background-image: url('https://i.imgur.com/YLJwFmc.png');
  background-size: cover;
}

#portfolio div.row:nth-of-type(2) .col:nth-of-type(1) {
  background-image: url('http://i.imgur.com/pBLezyS.png');
  background-size: cover;
}

#portfolio div.row:nth-of-type(2) .col:nth-of-type(2) {
  background-image: url('http://i.imgur.com/pBLezyS.png');
  background-size: cover;
}

#portfolio div.row:nth-of-type(2) .col:nth-of-type(3) {
  background-image: url('https://i.imgur.com/rOikY6O.png');
  background-size: cover;
}

.page-footer {
  text-align: center;
}

.page-footer ul {
  display: flex;
  justify-content: space-between;
}

p .material-icons {
  font-size: 13px;
}
