@page{
  size: auto;
  margin: 0;
}

html, body{
  /*height: 100%;*/
}

body{
  margin: 0 5%;
  padding: 0 5%;
  width: 700px;
  font-family: helvetica, sans-serif;
}
.stretch{
  font-variant: small-caps;
  font-size: 50px;
  margin: 10px;
}

.center{
  text-align: center;
}

.shift{
  margin-left: 3%;
}

td{
  width: 50px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  /*border: solid thin black;*/
}
h2, h3{
  margin: 2% 0;
}
h3{
  border-top: solid thin black;
  padding-top: 10px;
  margin: 10px 0;
}
h4{
  margin: 1% 0;
}
h5{
  margin: 0;
}
