*{
	box-sizing: border-box;
}

html, body{
  height: 100%;
}
body{
	width: 640px;
	margin: 0 auto;
	background-image: url("pretty.jpg");
	background-size: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

	/*animation-name: cool;
	animation-duration: 3s;
	animation-iteration-count: 3;
	animation-direction: alternate;
  position: relative;*/
}


h1{
	color: #d2b48c;
  margin: 0;
	padding: 100px;

	animation-timing-function: ease-in;

	margin-top: 100px;
}

h2 {
	/*margin-top: 100px;*/
	border: solid #dfd4c4;
	border-radius: 10px;
	text-align: center;
	padding: 20px 0px;
	color: #d2b48c;
	font-weight: bold;
}

@keyframes cool{
  from{left:0;}
  to{left:300px;}
	0% {opacity: 0; left:0;}
	25% {opacity: 1;left:300px;}
	50% {opacity: 0; right: 0;}
	100% {opacity: 1; right: 300px;}
}
