/*same code in portfolio*/
.yargh{
  display: flex;
  flex-direction: column;;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 90%;
}
.pic{
  /*height: 250px;
  width: 250px;
  margin: 50px;*/
  border: solid aquamarine;

}

.about{
  /*width: auto;*/
  padding: 35px 15px;
  text-align: center;
  margin: 50px auto;
  background-color: azure;
  border: thick solid azure;
  border-radius: 20px;
  color: black;
}
.waiting{
  width: auto!important;
}

@media (min-width: 320px){
  h2{
    margin: 0 25px;
  }

  .about{
    margin: 0 0 20px 0;
  }
}
