.port{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.port img{
  margin: 0 0 10px 0;
  border:  aquamarine solid;
  border-radius: 30px;
}
.mur{
  position: relative;
  margin: 20px;
}
.description{
  text-align: center;
  padding: 30px 70px;
  background-color: azure;
  border-radius: 20px;
  display: none;
}
.description a{
  display: block;
}
h3{
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .2s ease-in;
  width: 350px;
  height: 300px;
  padding-top: 150px;
  margin: auto;
  border:  aquamarine solid;
  border-radius: 30px;
  text-align: center;
  background-color: aquamarine;
}
.port h3:hover {
  opacity: .7;
  cursor: pointer;
}
.rowed{
  display: flex;
  justify-content: center;
}
.flexed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
